* {
  padding: 5px;
  text-align: center;
}
li {
  list-style: none;
}
ul {
  margin-top: -20px;
}
h1 {
  color: #1467ac;
}
h2,
h3 {
  color: #4a69bd;
}
h1:hover {
  color: rgb(48, 25, 112);
  font-style: italic;
  font-weight: bold;
  transition-duration: 1s;
  cursor: pointer;
}
h2:hover {
  color: rgb(48, 25, 112);
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
h3:hover {
  color: rgb(48, 25, 112);
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
img {
  border-radius: 50%;
}
img:hover {
  border-radius: 0%;
}
