/* All Item Styling */
* {
  padding: 5px;
  text-align: center;
}
/* List Item Remove Underline */
li {
  list-style: none;
}
/* Margin Option */
ul {
  margin-top: -20px;
}
/* H1 Color Configuration */
h1 {
  color: #1467ac;
}

/* H2,H3 Color Configuration */
h2,
h3 {
  color: #4a69bd;
}
/* H1 Hover Effect Options */
h1:hover {
  color: rgb(48, 25, 112);
  font-style: italic;
  font-weight: bold;
  transition-duration: 1s;
  cursor: pointer;
}
/* H2 Hover Effect Options */
h2:hover {
  color: rgb(48, 25, 112);
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
/* H3 Hover Effect Options */
h3:hover {
  color: rgb(48, 25, 112);
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
/* Img Circular Option */
img {
  border-radius: 50%;
}
/* Img Hover Effect Options */
img:hover {
  border-radius: 0%;
}
